@import "../../node_modules/bootstrap/scss/functions";

// Override Bootstrap variables
$primary: #ea0e0e;
$primary-text: white;
$secondary: darken(#ea0e0e, 10%);

// Load the entire Bootstrap library
@import "../../node_modules/bootstrap/scss/bootstrap";

// Custom styling
@import "custom.scss";
